* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/background.png');
  font-family: Roboto, sans-serif;
  color: #fff;
}

header {
  padding: 12px;
  text-align: center;
}

.title {
  text-align: center;
}

.solar-system {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 24px;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-card p {
  cursor: default;
}

.planet-card img {
  transition: .3s;
  width: 160px;
}

.planet-card img:hover {
  filter: brightness(130%);
  transition: .3s;
}

.missions-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 24px;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.mission-card {
  text-align: center;
  border: 1px solid #2c365e;
  background-color: #2c365e4b;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 20%;
  line-height: 22px;
}

.mission-title {
  background-color: #2c365e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.mission-informations {
  padding: 8px;
}

@media screen and (max-width : 600px ) {

  .planets {
    gap: 12px;
  }

  .planet-card img {
    width: 120px;
  }

  .mission-card {
    width: 130px;
  }

  .mission-title p {
    padding: 4px;
  }
}